@import "tailwindcss";

@layer utilities {
    @keyframes identifier {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-100%);
        }
    }
}